<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>loginpage</title>
</head>
<body>
    <div align="center">
        <form action="{% url 'logincheck' %}" method="post">
            {% csrf_token %}
        <h3>loginpage</h3>
        <input type="text" name="username" placeholder="USERNAME" required><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit">login</button>
            </form>
    </div>
<div align="center">
    {% if message %}
    <font face="chiller" size="5" color="#ff4500"><h1>{{ message }}</h1></font>
{% endif %}
</div>
</body>
</html>