<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome page</title>
</head>


<body>
    <center>
    <font face="chiller" size="8" color="blue">
        <h2>{{ message }}</h2>
    </font>
    </center>

    <form action="{% url 'feedback' %}" method="post">
        {% csrf_token %}
    <table align="center">
        <tr><th>Feedback</th></tr>
        <tr><th>
            <textarea name="fb" required>
            </textarea>
        </th></tr>
        <tr>
            <th><button type="submit">Send</button></th>
        </tr>
    </table>
    </form>



    <form action="{% url 'homepage'%}">
        <button type="submit">Logout</button>
    </form>

</body>
</html>