<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        marquee{
            height: 150px;
            width: 400px;
            align-content: center;
        }
    </style>
</head>
<body>
 {% include 'menu.html' %}
 <br><br>
    <div align="center">
            <font color="#cd5c5c" size="8" face="Arial Black">
            <marquee behavior="slide" direction="up"> Welcome to Admin Page </marquee>
            </font>
    </div>
</body>
</body>
</html>