<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        marquee{
            height: 100px;
            width: auto;
            align-content: center;
        }
    </style>
</head>
<body>
 {% include 'menu.html' %}
 <br><br>
    <div align="center">
            <font color="#d2691e" size="8" face="Arial Black">
                <marquee behavior="slide" direction="left">Welcome to User Page </marquee>
            </font>
    </div>
</body>
</body>
</html>