<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>get and post</title>
</head>
<body>
<form action="/check/" method="get">
    <button type="submit">get example</button>
</form>
<br><br>
<form action="/check/" method="post">
    {% csrf_token %}
    <button type="submit">post example</button>
</form>
</body>
</html>