<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index page</title>
</head>
<body>
<div align="center">


    <form action="{% url 'pcheck'%}" method="post">
        {% csrf_token %}
        <h2>post check</h2>
        <input type="text" name="pname" placeholder="Username" required> <br>
        <input type="password" name="ppassword" placeholder="Password" required> <br>
        <button type="submit">send</button>
    </form>
</div>
<br>
<div align="center">

    <form action="{% url 'gcheck'%}">
        <h2>get check</h2>
        <input type="text" name="gname" placeholder="Username" required> <br>
        <input type="password" name="gpassword" placeholder="Password" required> <br>
        <button type="submit">send</button>
    </form>
</div>
</body>
</html>